/*STYLE.CSS*/
@import url('http://fonts.cdnfonts.com/css/nasalization-2');
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Verdana,sans-serif;
    font-size:13px; color:#333;
}
header{
    height: 110px;
    padding: 10px 0;
    background-color: #262626;
}
footer{
    position: absolute;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    bottom: 0px;
    background-color: #262626;
    text-align: center;
    padding: 25px 0 0 0;
    color: #FF0000;
    text-shadow: 1px 1px 1px #FFFFFF;
}
h1{
    font-family: Nasalization,sans-serif;
    font-size:40px;
    text-align: center;
}
h4{
    font-size:20px;
    font-family: Nasalization,sans-serif;
    margin-bottom: 10px;
    padding-top: 20px;
}
/* CLASS */
.container{
    margin: 0 auto;
    width: 960px;
}
.sociais{
    float:right;
}
.sociais a{
    text-decoration: none;
}
/* IDs */
#conteudo{
    padding: 30px 0;
}
#menu{
    float: right;
    padding: 45px 0;
}
#menu a{
    font-family: Nasalization,sans-serif;
    font-size:19px;
    color: #FF0000;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-decoration: none;
    padding: 20px 20px;
}
#menu a:hover{
        color:#FFFFFF;
}

